<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mamiferos.huellasyrastros">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iclauncher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iclauncher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/banner_ad_unit_id"/>
-->
        <activity
            android:name="com.mamiferos.huellasyrastros.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mamiferos.huellasyrastros.activity.DichotomousKeyActivity"
            android:label="@string/title_activity_dichotomous_key"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mamiferos.huellasyrastros.activity.CameraActivity"
            android:label="@string/title_activity_camera2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mamiferos.huellasyrastros.activity.AnimalDataActivity"
            android:label="@string/title_activity_animal_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mamiferos.huellasyrastros.activity.AnimalsListActivity"
            android:label="@string/title_activity_animals_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mamiferos.huellasyrastros.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>